/* src/components/atoms/Logo.module.scss */
@use '../../../styles/App.scss' as *;
@use "sass:color";

.logo {
  //height: $grid-unit * 5; /* 40px de altura est치ndar */
  width: auto;
  position: absolute;
  top:50%;
  transform: translateY(-47.5%);
  left: $grid-unit * 2; /* 32px desde el borde izquierdo */

}

.large {
  height: $grid-unit * 10; /* 48px */
}
// Puedes a침adir m치s variantes de tama침o si es necesario