/* src/styles/App.scss */
@use "../assets/styles/variables" as *;

// Reset básico
* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: $font-stack;
    background-color: $color-fondo; // usa la variable central
    color: $color-texto;
}

h1, h2, h3 { margin: 0; }

button { cursor: pointer; border: none; background: none; }
