/* src/components/organisms/ReservationPanel.module.scss */
@use '../../styles/App.scss' as *;

.panelContainer {
  /* Contenedor principal: puede tener un ancho m치ximo o un padding general */
  width: 100%;
  //max-width: 1200px; 
  margin: 0 auto;
  min-height: 100%;
  background-color: $color-body-gray; /* Fondo claro para la mayor parte del contenido */
}

/* ---------------------------------------- */
/* Wrapper del Contenido Principal (Detalles vs. Horarios) */
/* ---------------------------------------- */
.contentWrapper {
  display: flex;
  gap: $grid-unit * 4; /* 32px de separaci칩n entre las dos columnas */
  max-width: 1200px;
  margin: 0 auto;
  padding: $grid-unit * 4; /* 32px de padding general */

  /* Estilos para Vista M칩vil: Apilar las columnas */
  @media (max-width: 768px) {
    flex-direction: column;
    padding: $grid-unit * 2;
  }
}

/* Columna de Detalles (Izquierda) */
.detailsArea {
  flex: 1; /* Ocupa una parte del espacio */
  display: flex;
  flex-direction: column;
  gap: $grid-unit * 3;
  
}

.courtNameDisplay {
  font-size: $grid-unit * 3;
  font-weight: bold;
  color: $color-text-dark;
  margin: 0;
}

.courtImage {
  width: 100%;
  height: 250px; /* Altura fija para la imagen de la cancha */
  background-color: $color-divider; /* Placeholder */
  border-radius: $border-radius;
}

/* Columna de Horarios (Derecha) */
.scheduleArea {
  flex: 2; /* Ocupa el doble de espacio (m치s ancho) */
  display: flex;
  flex-direction: column;
  gap: $grid-unit * 3;
}

.timeSlotList {
  /* Contenedor que agrupa todos los TimeSlots */
  display: flex;
  flex-direction: column;
  background-color: $color-body-gray;
  padding: $grid-unit * 2;
  border: 1px solid $color-divider;
  border-radius: $border-radius;
}