@use "../../../assets/styles/variables.scss" as *;

.password-input {
  position: relative;
  width: 100%;
  max-width: 280px;

  input {
    width: 100%;
    padding: 10px 40px 10px 12px; // espacio para el ícono
    border: 1px solid $color-body-gray; 
    border-radius: 8px; 
    outline: none;
    font-size: 1rem;
    box-sizing: border-box;
    height: 42px; 
    transition: 0.3s;

    &:focus {
      border-color: $color-accent-lima;
    }
  }

  .toggle-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #034b59;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;

    &:hover {
      color: $color-accent-lima;
    }
  }
}
